.shooting{
    padding-top: 40px;

    @include media(xs) {
        padding-top: 21px;
    }

    @include media(sm) {
        padding-top: 50px;
    }

    &__title{
        text-align: center;
        max-width: 278px;
        @include text(26px, 400, 31px, $textColor);

        @include media(xs) {
            @include text(26px, 400, 38px, $textColor);
            max-width: 283px;
            display: flex;
            align-items: flex-end;
        }

        @include media(sm) {
            @include text(20px, 500, 29px, $textColor);
            max-width: 288px;
            text-align: left;
        }

        @include media(md) {
            @include text(28px, 500, 41px, $textColor);
            max-width: 337px;
        }

        @include media(lg) {
            @include text(20px, 500, 29px, $textColor);
            max-width: 288px;
        }

        & span{
            display: none;

            @include media(xs) {
                display: block;
            }
        }
    }

    &__day{
        border: 1px solid $secondaryColor;
        margin-bottom: 45px;
        margin-top: 41px;

        @include media(xs) {
            margin-top: 40px;
        }

        @include media(sm) {
            margin-top: 30px;
        }
        
        @include media(md) {
            width: 770px;
            margin-top: 40px;
            margin-bottom: 82px;
        }

        @include media(lg) {
            margin-top: 30px;
        }

        &-firstHalf, &-secondHalf{
            padding: 30px 10px 30px 20px;

            @include media(xs) {
                padding: 20px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            @include media(sm) {
                padding: 20px 30px;
            }
        }

        &-firstHalf{
            border-bottom: 1px solid $secondaryColor;
        }

        &-title{
            border-bottom: 1px solid $secondaryColor;
            @include text(18px, 400, 26px, $textColor);
            padding: 20px 44px 16px;

            @include media(xs) {
                padding: 30px 20px 20px;
            }

            @include media(sm) {
                padding: 30px 30px 20px;
            }

            span{
                @include text(18px, 500, 26px, $textColor);
            }
        }

        &-time{
            @include text(18px, 400, 26px, $textColor);
        }

        &-price{
            margin-top: 10px;
            @include text(18px, 600, 22px, $textColor);
        }

        &-place{
            margin-top: 10px;
            @include text(18px, 400, 26px, $textColor);
        }

        &-button{
            @include text(14px,500,17px,$accentColor);
            background-color: inherit;
            border: 2px solid $accentColor;
            padding: 16px 32px;
            cursor: pointer;
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            margin-top: 20px;

            @include media(xs) {
                margin-top: 0;
            }

            &:hover{
                background-color: $accentColor;
                border: 2px solid $secondaryColor;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                color: $primaryColor;
            }
        }
    }

    &__reviews{
        padding: 32px 5px 29px 65px;

        @include media(xs) {
            border-top: none;
        }

        &::after{
            left: 20px;
            top: 30px;

            @include media(xs) {
                left: 30px;
                top: 20px;
            }
        }
    }

    &__rating{
        display: flex;
        flex-direction: row-reverse;
        gap: 7px;
        
        &-star{
            font-size: 20px;
        }

        & a, & label {
            color: #aaa;
            text-decoration: none;
            -webkit-transition: color .4s;
            -moz-transition: color .4s;
            -o-transition: color .4s;
            transition: color .4s;
        }

        & label:hover ~ label,
        & input:focus ~ label,
        & label:hover,
        & a:hover,
        & a:hover ~ a,
        & a:focus,
        & a:focus ~ a{
            color: orange;
            cursor: pointer;
        }
    }
}