.testimonials{
    &__title{
        display: flex;
        @include text(26px, 400, 39px, $textColor);
        text-align: center;
        
        @media screen and (min-width: 768px) {
            @include text(20px, 500, 29px, $textColor);
            text-align: unset;
        }

        @media screen and (min-width: 1280px) {
            @include text(28px, 500, 41px, $textColor);
        }

        @media screen and (min-width: 1440px) {
            @include text(20px, 500, 29px, $textColor);
        }

        span{
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }

    &__wrapper{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            max-width: 655px;
            align-items: unset;
        }
    }

    &__button{
        margin-top: 40px;
        border: none;
        background-color: inherit;
        @include text(17px, 500, 25px, $linkColor);
        cursor: pointer;

        @media screen and (min-width: 768px) {
            margin-top: 45px;   
        }

        @media screen and (min-width: 1280px) {
            margin-top: 47px;   
        }
    }
}

.comment{
    padding-bottom: 44px;
    border-bottom: 0.5px solid $secondaryColor;

    &:not(:first-child){
        margin-top: 30px;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__avatar{
        height: 84px;

        @media screen and (min-width: 768px) {
            height: 101px;
        }
    }

    &__info{
        margin-left: 18px;

        &-name{
            @include text(16px, 500, 19px, $textColor);
            margin-bottom: 6px;

            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }
        }

        &-activity{
            @include text(14px, 400, 21px, $textColor);
            margin-bottom: 7px;

            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }
        }

        &-review{
            position: relative;
            @include text(14px, 400, 21px, $textColorLight);
            margin-top: 24px;
            margin-left: 20px;

            @media screen and (min-width: 768px) {
                margin-top: 0;
                align-self: flex-end;
                margin-bottom: 10px;
            }

            &::before{
                content: "";
                display: block;
                background-image:url('../images/Vector\ 2.3.svg');
                background-size: 15px 11px;
                width: 15px;
                height: 11px;
                position: absolute;
                left: -20px;
                top: 5px;
            }
        }

        &-date{
            @include text(14px, 400, 21px, $textColorLight);
        }
    }

    &__text{
        @include text(14px, 400, 21px, $textColor);

        @media screen and (min-width: 768px) {
            @include text(16px, 400, 21px, $textColor);
            max-width: 510px;
        }

        margin-top: 14px;
        margin-bottom: 17px;
    }

    &-star{
        font-size: 18px;
    }

    & a, & label {
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
    }

    & label:hover ~ label,
    & input:focus ~ label,
    & label:hover,
    & a:hover,
    & a:hover ~ a,
    & a:focus,
    & a:focus ~ a{
        color: orange;
        cursor: pointer;
    }
}  