.testimonials{
    &__title{
        display: flex;
        @include text(26px, 400, 39px, $textColor);
        text-align: center;
        
        @include media(sm) {
            @include text(20px, 500, 29px, $textColor);
            text-align: unset;
        }

        @include media(md) {
            @include text(28px, 500, 41px, $textColor);
        }

        @include media(lg) {
            @include text(20px, 500, 29px, $textColor);
        }

        span{
            display: none;

            @include media(sm) {
                display: block;
            }
        }
    }

    &__wrapper{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media(sm) {
            align-items: unset;
        }
    }

    &__button{
        margin-top: 40px;
        border: none;
        background-color: inherit;
        width: 165px;
        padding: 0;
        align-self: center;
        position: relative;
        @include text(17px, 500, 25px, $linkColor);
        cursor: pointer;

        @include media(sm) {
            margin-top: 45px;   
        }

        @include media(md) {
            margin-top: 47px;   
        }

        &::after{
            content: "";
            display: block;
            background-image:url('../images/arrow.svg');
            background-size: 11px 6px;
            width: 11px;
            height: 6px;
            position: absolute;
            right: -15%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &::before{
            content: "";
            display: block;
            background-image:url('../images/arrow.svg');
            background-size: 11px 6px;
            width: 11px;
            height: 6px;
            position: absolute;
            left: -10%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover{
            text-decoration: underline;
        }
    }
}

.comment{
    padding-bottom: 44px;
    border-bottom: 0.5px solid $secondaryColor;

    @include media(sm) {
        max-width: 655px;
    }

    &:not(:first-child){
        margin-top: 30px;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__avatar{
        height: 84px;

        @include media(sm) {
            height: 101px;
        }
    }

    &__info{
        margin-left: 18px;

        &-name{
            @include text(16px, 500, 19px, $textColor);
            margin-bottom: 6px;

            @include media(sm) {
                margin-bottom: 10px;
            }
        }

        &-activity{
            @include text(14px, 400, 21px, $textColor);
            margin-bottom: 7px;

            @include media(sm) {
                margin-bottom: 10px;
            }
        }

        &-review{
            position: relative;
            @include text(14px, 400, 21px, $textColorLight);
            margin-top: 24px;
            margin-left: 20px;

            @include media(sm) {
                margin-top: 0;
                align-self: flex-end;
                margin-bottom: 10px;
            }

            &::before{
                content: "";
                display: block;
                background-image:url('../images/Vector\ 2.3.svg');
                background-size: 15px 11px;
                width: 15px;
                height: 11px;
                position: absolute;
                left: -20px;
                top: 5px;
            }
        }

        &-date{
            @include text(14px, 400, 21px, $textColorLight);
        }
    }

    &__text{
        @include text(14px, 400, 21px, $textColor);

        @include media(sm) {
            @include text(16px, 400, 21px, $textColor);
            max-width: 510px;
        }

        margin-top: 14px;
        margin-bottom: 17px;
    }

    &__rating{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 7px;
    }

    &__star{
        font-size: 20px;
    }

    & a, & label {
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
    }

    & label:hover ~ label,
    & input:focus ~ label,
    & label:hover,
    & a:hover,
    & a:hover ~ a,
    & a:focus,
    & a:focus ~ a{
        color: orange;
        cursor: pointer;
    }
}  