@import 'normalize';

ul{
    list-style: none;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{   
    font-family: 'Montserrat';
    min-width: 320px;
}

@import 'abstracts/vars';
@import 'abstracts/mixins';
@import 'fonts';


// CONTAINER
@import 'container';

// HEADER
@import 'header';

// MAIN
@import 'main';

// SERVICE
@import 'service';
// SEVICE__REVIEWS
@import 'reviews';

// GALLERY
@import 'gallery';

// ABOUT
@import 'about';

// SHOOTING
@import 'shooting';

// MEETING
@import 'meeting';

// TESTIMONIALS
@import 'testimonials';

// FOOTER
@import 'footer';
// FOOTER__SOCIAL
@import 'social';
// FOOTER__REQUISITES
@import 'requisites';

@import 'slick';
@import 'slick-theme';